<section id="register">
  <div class="container">

    <div class="div-buttons">
      <h1>REGISTRAR USUARIO</h1>
      <button class="buttons" (click)="registrar()">Registrar Usuario</button>
      <button class="buttons">Crear Nuevo Usuario</button>
      <button class="buttons">Aplica para varias empresas</button>
    </div>

    <div class="izq-div">
      <input class="control" type="text" [(ngModel)]="first_name" name="first_name" placeholder=" Primer Nombre"
        required>
      <input class="control" type="text" [(ngModel)]="second_name" name="second_name" placeholder=" Segundo Nombre">
      <input class="control" type="number" placeholder="cédula" required>
      <select class="control" [(ngModel)]="selection_rol" name="selection_rol" required> {{selection_rol}}
        <option value="Analista">Analista</option>
        <option value="Desarrollador">Desarrollador</option>
        <option value="Arquitecto de datos">Arquitecto de datos</option>
      </select>
      <input class="control" type="email" [(ngModel)]="email_company" name="email_company" placeholder="Correo empresarial" required>
    </div>

    <div class="der-div">
      <input class="control" type="text" [(ngModel)]="first_surname" name="first_surname" placeholder="Primer apellido" required>
      <input class="control" type="text" [(ngModel)]="second_surname" name="second_surname" placeholder="Segundo apellido" required>
      <select class="control" [(ngModel)]="selection_gender" name="selection_gender"  required > {{selection_gender}}
        <option value="Maculino">Masculino</option>
        <option value="Femenino">Femenino</option>
      </select>
      <input class="control" type="date" [(ngModel)]="birth_date" name="birth_date" placeholder="fecha de nacimiento" required>
      <input class="control" type="text" [(ngModel)]="password_company" name="password_company" placeholder="contraseña empresarial" required>
    </div>
  </div>
</section>