<section id="register">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-7 mx-auto">
        <div class="card_Signin">
          <div class="card ">
            <div class="card_body text-center" style="padding:20px ;">
              <form action="">
                <h1 class="h3 mb-3 font-weight-normal">Registrar Usuario</h1>
                <div style="display:flex; ">
                  <!-- div nombre -->
                  <div class="form-group">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Primer Nombre" required>
                  </div>

                  <div class="form-group" style="padding-left:15px ;">
                    <input type="text" id="second_name" name="second_name" class="form-control"
                      placeholder="Second Name">
                  </div>
                </div>
                <!-- div apellidos -->
                <div style="display:flex; ">
                  <div class="form-group">
                    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="First_lastName"
                      required>
                  </div>

                  <div class="form-group" style="padding-left:15px ;">
                    <input type="text" id="second_last_name" name="second_last_name" class="form-control"
                      placeholder="First_lastName" required>
                  </div>
                </div>

                <div class="form-group">
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="form-group">
                  <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                    required>
                </div>
                <div type="submit" class="button btn btn-lg btn-primary btn-block"> Save</div>
                <div class="form-group">
                  <a routerLink="/auth-view/signin" class="form-group"> login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
